html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2 { 
    font-family: "Arial Black", sans-serif; 
    color: #aaa;
}

body, textarea { 
    background-color: #333; 
}

textarea.input {
    width: 100%; 
    height: 1.5em;
    outline: 0;
}

.input { 
    background-color: #404040;
    color: #aaa;
    font-family: "JetBrains Mono", monospace; 
    min-height: 1.5em;
    margin: 0.2em 0;
    padding: 0.1em 0.1em;
    white-space: pre;
}

.output { 
    color: #aaa;
    font-family: "JetBrains Mono", monospace; 
    margin: 0.2em 0;
}

h1 {
    font-size: 16pt;
    display: inline-block;
    margin-right: 1em;
}

h2 {
    font-family: "JetBrains Mono", monospace;
    font-size: 12pt;
    display: inline-block;
    margin-right: 1em;
    min-width: 10em;
}

button {    
    background-color: rgb(55, 82, 59);
    color: #999;
    outline: 0;
    border: 0;
    padding: 0.5em 1em;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Arial Black', sans-serif;
    font-size: medium;
    display: inline-block;
    cursor: pointer;
}
  
.dropdown-content {
    font-family: 'Arial', sans-serif;
    font-size: small;
    display: none;
    position: absolute;
    background-color: rgb(55, 82, 59);
    color: #999;
    padding: 0 0.8em;
    margin: 0 0;
    z-index: 1;
    cursor: pointer;
}
